html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: blanchedalmond;
  font-family: Courier, "Courier New", ui-monospace, monospace;
  color: black;
  min-height: 100vh;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p,
ul,
li,
button,
input,
textarea,
a {
  font-family: Courier, "Courier New", ui-monospace, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
